version: '3.7'

services:

  api:
    build:
      context: ./services/api
      dockerfile: Dockerfile-dev
    volumes:
      - './services/api:/usr/src/app'
    ports:
      - 5001:5000
    environment:
      - FLASK_APP=project/__init__.py
      - FLASK_ENV=development
      - APP_SETTINGS=project.config.DevelopmentConfig # sets environemnt config
  mongo:
    image: mongo
    ports:
      - 27017:27017